<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App</title>
</head>
<body>
  <h3>Loading</h3>
  <pre id="cookies"></pre>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      document.getElementById("cookies").innerHTML = document.cookie.split("; ").join("<br>")

      const title = "Cloud Account Name: Testing Test"
      setTimeout(() => {
        const h3 = document.querySelector("h3")
        h3.title = title
        h3.innerText = title
      }, 2500)
    })
  </script>
</body>
</html>
